.container-fluid{
    background-image: url(./img/rest\ back.jpg);
    display: flex;
    align-items:center;
    justify-content: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.699),rgba(0, 0, 0, 0.363)) ,url(./img/rest\ back.jpg);
    background-size: cover;
    height: 100vh;
    color: white;
}

